<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Htmx table</title>
    <script src="scripts/htmx.min.js"></script>
  </head>
  <body>
    <form hx-post="/debug/add">
      <label>
        Amount to add
        <input name="add_count" type="number" required min="1" />
      </label>
      <input type="submit" value="Add generated entries to db" />
    </form>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
        </tr>
      </thead>
      <tbody>
        {% for recipe in recipes %}
        <tr>
          <td>{{ recipe.title }}</td>
          <td>{{ recipe.author }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <!-- Two buttons: previous (if page_number > 0) and next. Should be get with query parameters which replaces table content and themselves. -->
  </body>
</html>
